name: DCO

on:
  pull_request:
    branches: [main, develop]

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    name: DCO Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0

      - name: Check DCO Sign-Off
        uses: tisonkun/actions-dco@c354a4fde7f239c0ffddd4d8a7aa016634c9a72b # v1.2
        with:
          # Allow DCO sign-off via GitHub UI (for web-based commits)
          allow-remediation-commits:
            pattern: 'dco-signoff'
